<ion-view view-title="个人中心">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">feihide</a></h3>
                <h4>个人设置</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.project" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> 立项
            </a>
            <a ui-sref="app.data" class="tab-item">
                <i class="icon ion-android-people"></i> 每日数据
            </a>
            <a ui-sref="app.trend" class="tab-item">
                <i class="icon ion-images"></i> 走势图
            </a>
        </div>
        <h4 class="content padding double-padding-x">今天是{{nowdate}}</h4>
        <ion-scroll style="height: 200px;">

        <div class="list animate-fade-slide-in-right" >
            <div   class="item  item-icon-right" ng-repeat='item in items'>
                <h2  >{{item.name}}</h2>
                <p><input ng-model="item.num" type="text" placeholder="请输入{{item.note}}" ></p>
                <i class="icon ion-android-add-circle muted" ng-click="newdata($index)"></i>
            </div>
        </div>
    </ion-scroll>

    </ion-content>
</ion-view>
